name: Terraform CI (Fake AWS)

on:
  push:
    branches: [ main ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init (sem backend)
      working-directory: terraform
      run: terraform init -backend=false

    - name: Terraform Validate
      working-directory: terraform
      run: terraform validate

    - name: Terraform Plan (sem AWS)
      working-directory: terraform
      run: terraform plan -refresh=false



